.wrap{
  background-color: blue;
margin: auto;
width:80%;
min-width: 600px;
}
.content, aside{
  height: 600px;
}
.content
{
  background-color: red;
float:left;
width:80%;
}


aside
{
  background-color: brown;
float:right;
width: 20%;


}
aside ul{
  list-style: none;
  padding-left: 0;
}
footer{
  clear: both;
}
